<form action="/auth/register" method="POST">
<div>
  <label for=""> Username:
    <input type="text" placeholder="username"
                       name='username'>
  </label>
 
  <label for=""> Password
    <input type="password" placeholder="password"
                           name="password">
  </label>
  <label for=""> Confirm Password: 
    <input type="password" placeholder="confirmpassword"
                           name="confirmpassword">
  </label>
  <button type="submit">No No No</button>
</div>
</form>
<p style="color: red">{{err}}</p>